In [ ]:
 #hello world print in python
print("hello world ")

hello world

In [ ]:
# variables and containers
x='hello dude'
print(x)

hello dude

In [ ]:
#variables: containers (rice,daals,etc)
name = 'priti' #text: string
lname = 'singh' #text: string
age = 24 #int: -ve number or 0 or positive number
weight = 70.2 #float data type: both negative and positive decimal numbers
print(age)

24

In [ ]:
# using operators
c=12
d=12
c+d;   #addition
c-d;  #sub
c/d   #division
c%d   #modulas
c<d   #less than
c>d   #greater than
c==d  #comparion operator
c<=d  #less than equal to
c>=d  #greater than equal to
c!=d  #not eual
c**d  #Exponentiation
c//d  #Floor division
print(c+d)
print(c-d)
print(c/d)
print(c%d)
print(c<d)
print(c>d)
print(c==d)
print(c<=d)
print(c>=d)
print(c!=d)
print(c//d)

24
0
1.0
0
False
False
True
True
True
False