In [9]:
#list :things that is used to store values  they are used to store multiple valuse
#synta:list_name=[] lists are ordered ,changeable,and allow duplicate values

In [7]:
marks =[90,100,89,90,67,45,98,True,False,"priti singh",65.4]
print(marks)

[90, 100, 89, 90, 67, 45, 98, True, False, 'priti singh', 65.4]

In [4]:
marks[3:9]

[90, 67, 45, 98, 'priti singh', 65.4]

In [ ]:
marks= [65,78,90,89,70,56,45,34,60 ]
marks[3:-4]

[89, 70]

In [ ]:
marks [4]=98
marks

[90, 98, 89, 90, 98, 45, 98, True, False, 'priti singh', 65.4]

In [46]:
marks[3:9]=[1,2,3,4]
marks

[1, 2, 3, 1, 2, 3, 4, 10]

In [ ]:
marks1=[90,100,89,67,78,45,98,35,46]
marks

[90, 98, 89, 1, 2, 3, 4, 'priti singh', 65.4]

In [44]:
#print out 1st,2nd 8th and last value of that list
list = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print("1st value:", list[0])
print("2nd value:", list[1])
print("8th value:", list[7])
print("Last value:",[-1])

1st value: 10
2nd value: 20
8th value: 80
Last value: [-1]

In [ ]:
#print last students marks 1st students marks and 7th students marks
student_marks = [85, 90, 78, 92, 80, 88, 95, 87, 91, 84]

print("Last student's marks:", student_marks[-1])
print("First student's marks:", student_marks[0])
print("Seventh student's marks:", student_marks[6])

Last student's marks: 84
First student's marks: 85
Seventh student's marks: 95

In [5]:
print(10>9,10==9,10<9)

True False False

In [6]:
x=10
y="priti singh"
z=90.8
a=True
type(x)

int

In [14]:
#length function it help you to find length of your list len()
len(marks)

9

In [15]:
x=9
type(x)

int

In [16]:
type(marks)

list

In [32]:
#The insert() method inserts the specified value at the specified position.
#list.insert(pos, elmnt)
marks= [1,2,3,4,5]
marks.insert(3, '6')
print('List:', marks)

List: [1, 2, 3, '6', 4, 5]

In [34]:
name=['p','i','t','i']
name.insert(3,'k')
print('List:',name)

List: ['p', 'i', 't', 'k', 'i']

In [35]:
age=[22,26,27,28,29,30]
age.insert(2,'age')
print('List:',age)

List: [22, 26, 'age', 27, 28, 29, 30]