In [42]:
#set-A Set in Python programming is an unordered collection data type that is iterable, mutable and has no duplicate elements.
my_set={1,2,3,4,4,4,}
print(my_set)

{1, 2, 3, 4}

In [41]:
my_set={"priti singh"}
print(my_set)

{'priti singh'}

In [43]:
type(my_set)

set

In [47]:
y=("priti singh")
print(y)

priti singh

In [48]:
y=([1,2,3,4,5])
print(y)

[1, 2, 3, 4, 5]

In [ ]:
#frozen set :
a=frozenset([1,2,3,4,5])
print(a)

frozenset({1, 2, 3, 4, 5})

In [ ]:
#frozenset' object has no attribute add
a.add(2)
print(a)

In [ ]:
y.add(10)
print(y)

{1, 2, 3, 4, 5, 10}

In [ ]:
y.update([10,20,30,40,50 ,60])
print(y)

{1, 2, 3, 4, 5, 40, 10, 50, 20, 60, 30}

In [33]:
set = {"hp", "dell", "asus"}

for x in set:
  print(x)

hp
dell
asus

In [ ]:
40 in y

True

In [ ]:
500 in y

False

In [ ]:
num= {10,20,30,40,50,60,70}

num.remove(10)

print(num)

{50, 20, 70, 40, 60, 30}

In [ ]:
y.discard(10)
print(y)

{1, 2, 3, 4, 5, 40, 50, 20, 60, 30}

In [ ]:
y.pop()
print(y)

{2, 3, 4, 5, 40, 50, 20, 60, 30}

In [ ]:
print(y)

{2, 3, 4, 5, 40, 50, 20, 60, 30}

In [ ]:
y.pop()
print(y)

{3, 4, 5, 40, 50, 20, 60, 30}

In [32]:

brand = ['hp', 'dell', 'acer']
brand.append("asus")
print(brand)

['hp', 'dell', 'acer', 'asus']

In [ ]:
set1 = {10, 20, 30, 40}
set2 = {50, 20, "10", 60}

set3 = set1.union(set2)
print(set3)

{40, 10, '10', 50, 20, 60, 30}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.update(["Blue", "Green", "Red"])
print(sampleSet)

{'Blue', 'Orange', 'Yellow', 'Red', 'Green', 'Black'}

In [ ]:
aSet = {1, 'PYnative', ['abc', 'xyz'], True}  #TypeError: unhashable type: 'list'
print(aSet)

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

set3 = set2.difference(set1)
print(set3)

{'Pink', 'Blue'}

In [ ]:
aSet = {1, 'PYnative', ('abc', 'xyz'), True}
print(aSet)

{1, ('abc', 'xyz'), 'PYnative'}

In [ ]:
set1 = {"Yellow", "Orange", "Black"}
set2 = {"Orange", "Blue", "Pink"}

set1.difference_update(set2)
print(set1)

{'Black', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Orange")
print(sampleSet)

{'Black', 'Yellow'}

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.add("Blue")
sampleSet.add("Orange")
print(sampleSet)

{'Black', 'Blue', 'Orange', 'Yellow'}

In [ ]:
set1 = {10, 20, 30, 40, 50}
set2 = {60, 70, 10, 30, 40, 80, 20, 50}

print(set1.issubset(set2))
print(set2.issuperset(set1))

True
True

In [ ]:
sampleSet = {"Yellow", "Orange", "Black"}
sampleSet.discard("Blue")
print(sampleSet)

{'Black', 'Orange', 'Yellow'}

In [4]:
# set methods
#The add() method adds an element to the set.
brand= {"hp", "dell", "acer"}

brand.add("acus")

print(brand)

{'acer', 'hp', 'dell', 'acus'}

In [6]:
#Removes all the elements from the set
set = {"hp", "dell", "asus"}

set.clear()

print(set)

set()

In [34]:
#Returns a copy of the set
set = {"hp", "dell", "asus"}

set.copy()

print(set)

{'hp', 'dell', 'asus'}

In [40]:
#Returns a set containing the difference between two or more sets
set = {"hp", "dell", "asus"}


set.difference()

print(set)

{'hp', 'dell', 'asus'}

In [12]:
#Removes the items in this set that are also included in another, specified set
x = {1,2,3,4,5,6,7,8,9,10}
y = {10,20,30,40,50,60,70,80,90,100}

x.difference_update(y)

print(x)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [15]:
#Remove the specified item
set = {"hp", "dell", "acer"}

set.discard("dell")

print(set)

{'acer', 'hp'}

In [17]:
#he intersection() method returns a set that contains the similarity between two or more sets.
x = {1,2,3,4,5,6,7,8,9,10}
y = {10,20,30,40,50,60,70,80,90,100}

z = x.intersection(y)

print(z)

{10}

In [18]:
#The intersection_update() method removes the items that is not present in both sets (or in all sets if the comparison is done between more than two sets).
#The intersection_update() method is different from the intersection() method, because the intersection() method returns a new set, without the unwanted items,
#and the intersection_update() method removes the unwanted items from the original set.
x = {1,2,3,4,5,6,7,8,9,10}
y = {10,20,30,40,50,60,70,80,90,100}

x.intersection_update(y)

print(x)

{10}

In [19]:
#The isdisjoint() method returns True if none of the items are present in both sets, otherwise it returns False.
x = {1,2,3,4,5,6,7,8,9,10}
y = {10,20,30,40,50,60,70,80,90,100}
z = x.isdisjoint(y)
print(z)

False

In [21]:
#The issubset() method returns True if all items in the set exists in the specified set, otherwise it returns False.
x = {"p", "r", "i"}
y = {"p", "r", "i", "t", "i", "a"}

z = x.issubset(y)

print(z)

True

In [22]:
#The issuperset() method returns True if all items in the specified set exists in the original set, otherwise it returns False.
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

In [23]:
#The pop() method removes a random item from the set.
brand = {"hp", "dell", "acer"}

brand.pop()

print(brand)

{'hp', 'dell'}

In [24]:
#The remove() method removes the specified element from the set.
brand = {"hp", "dell", "acer"}

brand.remove("dell")

print(brand)

{'acer', 'hp'}

In [26]:
#The symmetric_difference() method returns a set that contains all items from both set, but not the items that are present in both sets.
x = {"apple", "banana", "cherry"}
y = {"dell", "hp", "apple"}

z = x.symmetric_difference(y)

print(z)

{'dell', 'cherry', 'banana', 'hp'}

In [28]:
#The symmetric_difference_update() method updates the original set by removing items that are present in both sets, and inserting the other items.
x = {"apple", "banana", "cherry"}
y = {"dell", "hp", "apple"}

x.symmetric_difference_update(y)

print(x)

{'cherry', 'dell', 'banana', 'hp'}

In [29]:
#The union() method returns a set that contains all items from the original set, and all items from the specified set(s).
x = {"apple", "banana", "cherry"}
y = {"dell", "hp", "apple"}

z = x.union(y)

print(z)

{'cherry', 'dell', 'banana', 'hp', 'apple'}

In [30]:
#The update() method updates the current set, by adding items from another set (or any other iterable).
#If an item is present in both sets, only one appearance of this item will be present in the updated set.
x = {"apple", "banana", "cherry"}
y = {"dell", "hp", "apple"}

x.update(y)

print(x)

{'cherry', 'dell', 'banana', 'hp', 'apple'}