In [ ]:
#A function is a block of code which only runs when it is called.You can pass data, known as parameters, into a function.
def my_function():
  print("Hello i m a function ")

In [34]:
#calling function
def my_function():
  print("Hello i m a function")

my_function()

Hello i m a function

In [39]:
# argument pass function
def my_function(fname):
  print(fname + "singh")

my_function("priti")
my_function("sonu")
my_function("monu")

pritisingh
sonusingh
monusingh

In [40]:
#add two argument
def my_function(fname, lname):
  print(fname + " " + lname)

my_function("priti ", "singh")

priti  singh

In [44]:
#Arbitrary Arguments
def my_function(*a):
  print("The biggest number " + a[2])

my_function("10", "20", "30")

The biggest number 30

In [47]:
#Keyword Arguments
def my_function(a,b,c):
  print("The biggest no is " + c)

my_function(a = "ten", b = "twenty", c = "thirty")

The biggest no is thirty

In [51]:

#Arbitrary Arguments
def my_function(**name):
  print(" last name is " + name["lname"])

my_function(fname = "priti", lname = "singh")

 last name is singh

In [52]:
#Default Parameter
def my_function(sub = "cse"):
  print("my sub is  " + sub)

my_function("networking")
my_function("logic maths")
my_function()
my_function("operating system ")

my sub is  networking
my sub is  logic maths
my sub is  cse
my sub is  operating system

In [53]:
#passing list argument
def my_function(product):
  for i in product:
    print(i)

brand= ["hp", "dell", "acer"]

my_function(brand)

hp
dell
acer

In [56]:
# return value
def my_function(i):
  return 10 * i

print(my_function(3))
print(my_function(5))
print(my_function(9))

30
50
90