In [ ]:
#Removing the element from the list pop delete and remove

In [2]:
#pop
x=[10,20,30,40,50,60,70,80,90,100]
x.pop()
x

[10, 20, 30, 40, 50, 60, 70, 80, 90]

In [3]:
#pop :if you specify which index's element to be removed .
x=[10,20,30,40,50,60,70,80,90]
x.pop(0)  #you have to fill the index in the bracket
print(x)

[20, 30, 40, 50, 60, 70, 80, 90]

In [45]:
#list 10 element and move 1st,6th and last element using pop
list=[10,20,30,40,50,60,70,80,90,100]
list.pop(1) #1st element
list.pop(5) #6th element
list.pop(-1) #last element
print(list)

[10, 30, 40, 50, 60, 80, 90]

In [5]:
#remove we will be using the value
name=['priti','singh','abhishek','chikoo']
name.remove('singh')
print(name)

['priti', 'abhishek', 'chikoo']

In [51]:
#remove 2nd and 4th element from your list using remove
name=['priti','singh','abhishek','chikoo','hello']
name.remove('singh')
name.remove('chikoo')
name.remove('hello')
print(name)

['priti', 'abhishek']

In [12]:
#del delete the element from specific index
x=[10,20,30,40,50,60,70,80]
del x[0]
print(x)

[20, 30, 40, 50, 60, 70, 80]

In [17]:
a=[10,20,30,40,50]
del a[1]
print(a)

[10, 30, 40, 50]

In [14]:
b=[10,20,30,40,50]
b.clear()
print(b)

[]

In [18]:
x=[10,20,30,40,50,60,70,80]

for element in x:
 print(element)

10
20
30
40
50
60
70
80

In [19]:
x=[10,20,30,40,50,60,70,80]

for element in x:
 print(element*20)

200
400
600
800
1000
1200
1400
1600

In [36]:
name='priti'

for element in name:
 print(element) #instruction

p
r
i
t
i

In [ ]:
#iteration
#for (variable name)in (sequence):
#statement

In [22]:
b=[10,20,30,40,50]
for i in b:
  print(i)
  print(i*20)
  print(i**20)
  print(i+20)

10
200
100000000000000000000
30
20
400
104857600000000000000000000
40
30
600
348678440100000000000000000000
50
40
800
109951162777600000000000000000000
60
50
1000
9536743164062500000000000000000000
70

In [23]:
for i in [10,20,30,40,50]:
  print(i)

10
20
30
40
50

In [24]:
range(10)

range(0, 10)

In [25]:
for i in range(10): #the range () function return a sequence of number ,starting from 0 by default and increment by 1
  print("hello ,world!")

hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!
hello ,world!

In [27]:
print(list(range(10)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [28]:
print(list(range(4,11)))

[4, 5, 6, 7, 8, 9, 10]

In [29]:
print(list(range(4,11,2))) #4,4+2=6,6+2=8,8+2=10

[4, 6, 8, 10]

In [33]:
name=['priti','singh','abhishek','kumar']
name.sort()#ascending
name

['abhishek', 'kumar', 'priti', 'singh']

In [34]:
#reverse =true means we will be doing descending order
name.sort(reverse=True) #descending
name

['singh', 'priti', 'kumar', 'abhishek']